<div class="input-container">
    <div class="row">
        <div class="col-sm-9">
            <input type="text" 
            class="new-todo" 
            name="add-todo" #todo 
            (keyup.enter)="addTodo(todo.value); todo.value=''"
            [(ngModel)]="tododata.name"
            placeholder="Type and press enter key to add a quick todo"/>
        </div>
        <div class="col-sm-3">
            <div class="btn btn-success advanced" (click)="openTodoModal(content)">Advanced</div>        
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <pre>{{tododata | json}}</pre>
            <div class="form-group">
                <label for="todoLabel">Todo</label>
                <input type="text" [(ngModel)]="tododata.name" 
                class="form-control" 
                id="todoLabel"
                name="todoLabel"
                aria-describedby="todoLabel" 
                placeholder="Enter todo">
            </div>
            <div class="form-group">
                <label for="todoStatus">Status</label>                    
                <select [(ngModel)]="tododata.status" name="status" class="form-control" id="todoStatus">
                    <option>Pending</option>
                    <option>Completed</option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control" name="priority" [(ngModel)]="tododata.priority" id="priority">
                    <option>Low</option>
                    <option>High</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea [(ngModel)]="tododata.description" name="description" class="form-control" id="description" rows="3"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addTodo('modal')">Add Todo</button>
    </div>
</ng-template>