.busyloader-blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(255,255,255,.85);
}
.busyloader-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.busyloader-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}