.profile-pic span {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url(https://lh3.googleusercontent.com/-9B1O9uyWOuw/AAAAAAAAAAI/AAAAAAAAAAA/AA6ZPT4bYtuRbYhSfmXzAgBlFlhWAUWXMg/s192-c-mo/photo.jpg);
    display: inline-block;
    background-size: 32px 32px;
}
.logo-container{
    width: 170px;
}
.logo-container img{
    width: 100%
}
nav {
    border-radius: 3px 3px 0 0;
}
.nav-item a {
    cursor: pointer;
}
header {
    padding: 20px;
    box-shadow: 0 2px 0 0 rgba(168,0,168,0.1);
}
.profile-popover {
    padding: 10px
}
.profile-popover p{
    margin: 0
}
.profile-popover .profile-pic span {
    width: 62px;
    height: 62px;
    background-size: 62px 62px;
}
.profile-bottom {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 10px;
    width: 100%;
    display: table;
}
.profile-bottom .btn {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-color: #c6c6c6;
    font-size: 13px
}
